<h1>Choose your league</h1>

<table>
  <thead>
    <tr>
      <th>League</th>
      <th>Start date</th>
    </tr>
  </thead>

  <tbody>
    <% @leagues.order("id desc").each do |league| %>
      <tr data-link="<%= league_path(league)%>">
        <td><%= league.title %></td>
        <td><%= league.start_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>