<div class="nav-button-container"><button class="big-button"><%= link_to "Boulder Pinball League", league_path(League.last) %></button></div>

<!-- <div class="nav-button-container"><button class="big-button"><%= link_to "Non-league Scores", fetch_score_keepers_path %></button></div> -->