<p id="notice"><%= notice %></p>

<p>
  <strong>League night:</strong>
  <%= @matchup.league_night_id %>
</p>

<%= link_to 'Edit', edit_matchup_path(@matchup) %> |
<%= link_to 'Back', matchups_path %>
