/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*
lightest: #d7f2ba 215,242,186
light:#bde4a8 189,228,168
medium: #9cc69b 156,198,155
dark: #7bb2a8  123,178,168
darkest: #676f54 103,111,84
*/

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table, th, td {
    padding: 5px;
}

table tr:nth-child(even) {
    background: #d7f2ba;
}

table tr:nth-child(odd) {
	background: #bde4a8;
}

table th {
	background: white;
}

.left-border {
	border-left: 5px solid white;
}

.left {
	float: left;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}