/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 /*
lightest: #d7f2ba 215,242,186
light:#bde4a8 189,228,168
medium: #9cc69b 156,198,155
dark: #7bb2a8  123,178,168
darkest: #676f54 103,111,84
*/

#error_explanation {
    background-color: #f0f0f0;
    border: 2px solid red;
    margin-bottom: 20px;
    padding: 7px;
    padding-bottom: 0;
    width: 450px;
}
 
#error_explanation h2 {
    background-color: #c00;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin: -7px;
    margin-bottom: 0px;
    padding: 5px 5px 5px 15px;
    text-align: left;
}
 
#error_explanation ul li {
    font-size: 12px;
    list-style: square;
}
 
#notice {
    color: green;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

table, th, td {
    padding: 15px;
}

table tr:nth-child(even) {
    background: #f8f8f8;
}

table tr:nth-child(odd) {
	background: #e8ebf2;
}

table th {
	background: white;
}

input[type=submit] {
	border-radius: 5px;
	padding: 10px;
    border: 0;
    width: 400px;
    line-height: 36px;
    font-size: 36px;
    font-family: Tahoma;
    background: #d7f2ba;
}

a {
    color: #000;
}
 
a:hover {
    background-color: #000;
    color: #fff;
}
 
a:visited {
    color: #666;
}

body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
}

div.field, div.actions {
    margin-bottom: 10px;
}
 
input[type=submit] {
    background: #d7f2ba;
    border: 0;
    border-radius: 5px;
    font-family: Tahoma;
    font-size: 36px;
    line-height: 36px;
    padding: 10px;
    width: 400px;
}
 
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 15px;
    line-height: 18px;
}
 
pre {
    background-color: #eee;
    font-size: 11px;
    padding: 10px;
}

.login-input {
	font-size: 36px;
	width: 400px;
	display: block;
}

.game-button {
    float: left;
    height: 300px;
    width: 400px;
}
 
.game-button img {
    height: 100%;
    width: 100%;
}

.nav-button-container {
	clear: both;
	margin-bottom: 30px;
}

.big-button {
    border: 2px solid #7bb2a8;
    margin: 0;
    padding: 0;
}
 
.big-button a {
    background-color: #d7f2ba;
    display: block;
    font-size: 48px;
    height: 100%;
    max-width: 600px;
    min-width: 320px;
    padding: 30px;
    text-decoration: none;
}
 
.big-button a:hover {
    background-color: #9cc69b;
    color: #d7f2ba;
}

.field_with_errors {
    background-color: red;
    display: table;
    padding: 2px;
}

.left-border {
	border-left: 5px solid white;
}

.left {
	float: left;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}