// Place all the styles related to the LeagueNights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.game-score-table {
    float: left;
    margin-left: 5px;
}
 
.game-score-table-container {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.group-table {
    display: inline-block;
    float: left;
    min-height: 150px;
}
 
.group-table-container {
    display: block;
    float: left;
    max-width: 620px;
}

.graph-container {
    float: left;
    width: 100%;
}

.league-nights {

	table tr td:nth-child(odd) {
		padding-left: 10px;
	}

	table tr td:nth-child(even) {
		padding-right: 10px;
	}

	table tr:nth-child(even) {
    	background: #f8f8f8;
	}

	table tr:nth-child(odd) {
    	background: #e8ebf2;
	}

	.selected {
		color: white;
		background-color: #395161;
	}
}

.league-nights td:first-of-type.score-1:before {
    color: #da002e;
    content: '4th';
    display: inline-block;
    font-size: 8px;
    margin-right: 7px;
}
 
.league-nights td:first-of-type.score-2:before {
    color: #ff6d02;
    content: '3rd';
    display: inline-block;
    font-size: 8px;
    margin-right: 7px;
}
 
.league-nights td:first-of-type.score-3:before {
    color: #1099e8;
    content: '2nd';
    display: inline-block;
    font-size: 8px;
    margin-right: 7px;
}
 
.league-nights td:first-of-type.score-4:before {
    color: #2e9612;
    content: '1st';
    display: inline-block;
    font-size: 8px;
    margin-right: 7px;
}